@media (max-width: 315px) {
  body {
    border-radius: 24px;
    background: url(imgs/BGpic.jpg);
    background-position: center;
    background-size: cover;
    font-family: sans-serif;
    background-attachment: fixed;
  }

  header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 0;
    background: url(imgs/BGpic.jpg);
    background-position: center;
    background-attachment: fixed;
    height: 24px;
    width: 100%;
  }

  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .button a {
    text-decoration: none;
    transition: 0.4s ease;
    border-radius: 20px;
    color: black;
    padding: 5px;
    font-size: 9px;
    font-weight: 800;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.5px;
  }

  .button a:hover {
    background-color: white;
  }

  nav a li {
    list-style: none;
  }

  #home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px;
  }

  .prof {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 160px;
    margin: 50px 20px 20px 20px;
    border-radius: 317px;
  }

  .prof img {
    width: 160px;
    height: 160px;
    margin: auto;
    border-radius: 317px;
  }
  
  .home-content {
    margin: 3px;
    font-size: 10px;
  }

  #home h2 {
    font-size: 12px;
  }

  img {
    height: 100px;
    width: 100px;
  }
}
